<div class="input-group input-group-sm">
        <span class="btn btn-primary btn-file btn-sm">
            <%= I18n.t('datafiles.button.newfile') %> <%= file_field_tag 'newdatafile', class: 'form-control-file newdatafile'%>
        </span>
        <span id="newdatafile_name"></span>
</div>
<br/>
    <% item.datafiles.each do |d| %>
        <div class="col-md-4">
            <div class="card text-xs-center">
                <div class="card-block">
                    <p class="card-title"><input type="text" name="datafile[<%= d.slug %>]" class="form-control fileinput" value="<%= d.name %>"></input><br/><%= d.data.file.filename %><br/>
                    (<%= d.filetype %>)</p>

                    <div class="btn-group" role="group" aria-label="">
                        <button type="button" class="btn btn-secondary remove_data_button" id="<%= d.slug %>"><%= I18n.t('datafiles.button.remove') %></button>
                    </div>
                </div>
            </div>
        </div>
    <% end %>
<div class="clearfix"></div>

<script>
    $('.remove_data_button').click(function(e) {
        window.location.replace('/datafiles/' + $(this).attr('id') + '/remove');
    });
    $('.newdatafile').click(function(){
        $(this).attr("value", "");
    })
    $('.newdatafile').change(function(){
        $('#newdatafile_name').html($(this).val());
    })
</script>
