<div class="input-group input-group-sm pull-xs-right" style="padding-left:10px; width:200px;">
    <input type="text" class="form-control pull-right" aria-label="Search" id="searchinput">
    <span class="input-group-addon pointer search" style="width:25px;">
        <i class="fa fa-search fa-lg"></i>
    </span>
</div>

<button type="button" class="btn btn-primary btn-sm additem pull-xs-right"><%= I18n.t('admin.button.additem.') %></button>

<div>
    <span class="pointer alphabet_letter font-italic" id="all"><%= I18n.t('admin.button.all') %></span>&nbsp;-
    <% alphabet_letters.each do |a| %>
        <span class="pointer alphabet_letter" id="<%= a %>"><i><%= a %></i></span>&nbsp;
    <% end %>
</div>
<div class="text-xs-center">
<%= will_paginate items %>
</div>

<br/>

<table class="table table-hover">
    <thead>
        <th><%= I18n.t('item.string.collectionid') %></th>
        <th><%= I18n.t('item.string.name') %></th>
        <th></th>
    </thead>
    <tbody>
    <% items.each do |i| %>
        <tr class="pointer">
            <td class="item" id="<%= i.slug %>"><%= i.collectionid %></td>
            <td class="item" id="<%= i.slug %>"><%= i.name %></td>
            <td class="actions">
                <i class="fa fa-trash fa-lg remove" id="<%= i.slug %>"></i>
            </td>
        </tr>
    <% end %>
    </tbody>
</table>
<script>
    $('.item').click(function(event) {
        window.location.replace('/item/' + $(this).attr('id') + '/edit');
    });
    $('.additem').click(function() {
        window.location.replace('/item/new');
    });

    $('.search').click(function() {
        window.location.replace('/admin/items?search=' + $('#searchinput').val());
    });
    $('#searchinput').keypress(function(e) {
        if(e.which == 13) {
            window.location.replace('/admin/items?search=' + $('#searchinput').val());
        }
    });
    $('.alphabet_letter').click(function(e) {
            if ($(this).attr('id') == 'All') { window.location.replace('/admin/items'); }
            else {
                window.location.replace('/admin/items?search=' + $(this).attr('id') + '&alphabet_search=true');}
    });
    $('.remove').click(function(e) {
        var r = confirm("<%= I18n.t('admin.button.removeitem') %>");
        if (r == true) {
            window.location.replace('/item/' + $(this).attr('id') + '/remove');
        } else {
            return false;
        }
    });
</script>
