<p><%= item.name %></p>
<% if !item.errors.blank? %>
    <div class="alert alert-danger" role="alert">
        <%= I18n.t('item.edit.error') %>
    </div>
<% end %>

<%= form_tag({controller: :items, action: :create}, id: 'create_form', multipart: true) do |f| %>
    <%= hidden_field_tag 'id', encrypt(item.id) %>

    <%= render partial: 'items/form', locals: {item: item} %>
    <p class="text-xs-right"><%= submit_tag("Add" , class: 'btn btn-primary btn-sm invisible', id: 'submit_button') %></p>
<% end %>
<script>
$('#create_form').change(function() {
    $('#submit_button').removeClass('invisible');
})

$('.tokenize').tokenfield();

$(function() {
    $('input[name="item[acquired_date]"]').daterangepicker({
        singleDatePicker: true,
        showDropdowns: true,
        locale: {
          format: 'YYYY-MM-DD'
        }
    })
});
</script>
